<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lions.redisall.mapper.ShopMapper">

    <select id="selectById" resultType="com.lions.redisall.entity.Shop" parameterType="java.lang.Long">
        select * from tb_shop where id = #{id}
    </select>

    <update id="updateById">
        update tb_shop
        <trim prefix="set" suffixOverrides=",">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="typeId != null">
                type_id = #{typeId},
            </if>
            <if test="images != null">
                images = #{images},
            </if>
            <if test="area">
                area = #{area},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="x != null">
                x = #{x},
            </if>
            <if test="y != null">
                y = #{y},
            </if>
            <if test="avgPrice != null">
                avg_price = #{avgPrice},
            </if>
            <if test="sold != null">
                sold = #{sold},
            </if>
            <if test="comments != null">
                comments = #{comments},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="openHours != null">
                open_Hours = #{openHours},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </trim>
        where id = #{id}
    </update>
</mapper>