<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lions.redisall.mapper.ShopTypeMapper">

    <select id="queryAll" resultType="com.lions.redisall.entity.ShopType">
        select *
        from tb_shop_type
        order by sort
        asc
    </select>

</mapper>