<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lions.redisall.mapper.UserMapper">

    <select id="findUserByPhone" resultType="com.lions.redisall.entity.User" parameterType="java.lang.String">
        select * from tb_user where phone = #{phone}
    </select>
</mapper>